---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>

  <div class="mb-10 text-justify">
    I am a Software Engineer by Heart and love to tinker with stuff. I am a Builder and a Budding Robotics Enthusiast.
    I often delve into concepts involving Software Engineering at Large Scale and solve problems related to
    Web Development, Big Data, AI, Robotics and Networking.
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="Northeastern University"
      subtitle="Sept 2017 to Dec 2019 at Khoury CCIS, Boston, USA"
    />
    <TimeLineElement
      title="Mumbai University"
      subtitle="Sept 2012 to Mar 2016 at Fr. Conceicao Rodrigues College of Engineering, Mumbai, India"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Senior Software Engineer at Intuit"
      subtitle="From Jan 2025 at Intuit, Mountain View, California"
    >
      <li class="ml-4">Led a team of 5, enabling bulk creation of personalization content, robust templates and segmented audience targeting enhancing personalization content creation capacity by 1400% and significantly improved scalability for marketing operations</li>
      <li class="ml-4">Integrated a content generation pipeline for personalization using Generative AI, automating the end-to-end workflow for all marketing campaigns, improving go to market by 75% and driving innovation in Personalization and Marketing Tech at Intuit</li>
      <li class="ml-4 mb-1">Presented a comprehensive strategy paper on Generative AI for Personalization at Intuit, incorporating intelligent content suggestions, intelligent analytics and automation aimed at improving scalability and reducing campaign launch time by 75%</li>
    </TimeLineElement>
    <TimeLineElement
      title="Software Engineer 2 at Intuit"
      subtitle="From Jan 2021 to Jan 2025 at Intuit, Mountain View, California"
    >
      <li class="ml-4">Integrated a RAG based Personalization Assist using GenerativeAI, hugging-face and LangChain for automated marketing content creation, reducing churn, accelerating campaign authoring, and enhancing AI-driven personalization at Intuit.</li>
      <li class="ml-4">Built a self-serve Analytics Engine used to aggregated personalization clickstream feedback data using PySpark and created Analytics Dashboards in ReactJS , reducing on-call incidents by 40% and boosting marketer productivity by 50%</li>
      <li class="ml-4">Created new marketing data entities for seamless data access, eliminating schema approvals, and enabling consistent multi-source data ingestion using PySpark and EMR</li>
      <li class="ml-4">Built and Deployed an AWS Personalize Auto ML Model on clickstream data, enhancing recommendation quality on high traffic pages and reducing latency by 20%</li>
      <li class="ml-4">Engineered a Kafka consumer with EventBus synced with Customer Data Platform, with permissions and approval flows, driving $10M in revenue uplift and enabling dynamic campaign targeting</li>
      <li class="ml-4 mb-1">Trained and Deployed an XGBoost and DNN based model to calculate business health scores, reducing investment risk by 23%</li>
    </TimeLineElement>
    <TimeLineElement
      title="Software Engineer at Intuit"
      subtitle="From Jan 2020 to Jan 2021 at Intuit, Mountain View, California"
    >
      <li class="ml-4">Developed Parallelized Cypress-based synthetic tests, preventing $10M in potential revenue leakage and ensuring consistent pricing</li>
      <li class="ml-4 mb-1">Built an React and Spring Boot AWS-backed solution for automated cohort identification, offer mapping, price simulation, revenue forecasting and targeted price updates saving $20M and accelerating marketer productivity by 50</li>
    </TimeLineElement>
    <TimeLineElement
      title="Software Engineering Intern at Intuit"
      subtitle="From May 2018 to Dec 2018 and May 2019 to Aug 2019 at Intuit, Mountain View, California"
    >
      <li class="ml-4">Introduced faster OCR W2 Upload in an AB Test reducing tax prep time by 20%</li>
      <li class="ml-4 mb-1">Built a Case Deduplication Service, improving response times by 45% and mitigating 7% of duplicate cases.</li>
    </TimeLineElement>
    <TimeLineElement
      title="Software Developer at VoterCircle"
      subtitle="From Nov 2016 to May 2017 at VoterCircle, Bangalore, India"
    >
      <li class="ml-4">Introduced distributed campaign organizers with Meteor.js and Angular, boosting canvassing efficiency and voter turnouts by 15%</li>
      <li class="ml-4 mb-1">Integrated contact matching with ElasticSearch between voter files and social media contacts increasing effective outreach by 10%</li>
    </TimeLineElement>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certifications</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a href="#" target="_blank">Data Science Training Program by General Assembly</a>
    </li>
    <!-- <li> -->
    <!--   <a href="#" target="_blank"> Certification Name (with link)</a> -->
    <!-- </li> -->
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>Python</li>
    <li>JavaScript</li>
    <li>Java</li>
    <li>Go</li>
    <li>Lua</li>
    <li>Nix</li>
    <li>C/C++</li>
    <li>Spring Boot</li>
    <li>React.js</li>
    <li>Hugging Face</li>
    <li>Django</li>
    <li>ROS2</li>
    <li>Pandas</li>
    <li>NLTK</li>
    <li>OpenCV</li>
    <li>Docker</li>
    <li>Kubernetes</li>
    <li>Arduino</li>
    <li>EMR</li>
    <li>SageMaker</li>
    <li>Glue</li>
    <li>Lambda</li>
    <li>Amazon Personalize</li>
    <li>EC2</li>
    <li>Postgres</li>
    <li>DynamoDB</li>
    <li>ElasticCache</li>
    <li>Redis</li>
  </ul>
</BaseLayout>
